body {
  background-color: lightgray;
  padding-top: 100px;
}

div {
  display: flex;
  justify-content: center;
}

button {
  padding: 30px 50px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 900;
  font-family: sans-serif;
  -webkit-box-shadow: 0px 9px 9px 2px grey;
  box-shadow: 0px 9px 9px 2px grey;
  color: white;
}

.button-1 {
  margin-bottom: 50px;
  background-color: brown;
  border: brown;
  
}

#automatic {
  background-color: rgb(19, 111, 128);
  border: rgb(19, 111, 128);  
}

.bg-color {
  background-color: black;
}
