/* Position
●	Use the previous code structure
●	Remove previously defined styles for the background image
●	Add a new background image. It shouldn’t be repeated
●	Image should be horizontally positioned on the right
●	The image should be positioned vertically in the body center
●	Make it fixed
 */

 /* body {
   background-image: url(./images/images.jfif);
   background-repeat: no-repeat;
   background-position-x: right;
   background-position-y: center;
   background-attachment: fixed;
 } */


 /* Size
●	Modify the previous example
●	Make image stretch and cover the whole body
●	However, the image should not be deformed (aspect ratio has to be preserved)
 */


 body {
  background-image: url(./images/images.jfif);
  background-size: cover;
  color: white;
}