/* ●	Creating divs
○	Create a page with three divs
○	Elements on the page should be 200px wide and 200px high
○	Each div should be of different color
○	Divs should be stacked one on top of the other */
.container {
  height: 100vh;
  width: 100%;
}

.first {
  background-color: rgb(193, 57, 43);
  width: 200px;
  height: 200px;
}

.second {
  background-color: rgb(255, 190, 0);
  width: 200px;
  height: 200px;
}

.third {
  background-color:rgb(45, 62, 80);
  width: 200px;
  height: 200px;
}