/*body {
  margin: 0;
  padding: 0;
  height: 100%;
}

 .container {
  position: relative;
  background: white url("images/bg.jpg");
  background-repeat: repeat-x;
  left: 0px;
  top: 0px; 
  height: 100%;
  width: 100%;
}

.mario {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 45%;
  top: 30%;
}*/

html, body {
  margin: 0;
  height: 100%;
}

.container {
  background-color: #0212fe;
  background-image: url("./images/bg.jpg");
  background-position: center bottom;
  background-repeat: repeat-x;
  height: 100%;
  width: 100%;
}

.mario {
  position: absolute;
  height: 150px;
  bottom: 80px;
  left: 40%;
}
