* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: lightgray;
}

.chat-area {
  height: 80vh;
  background-color: white;
  width: 80%;
  margin: auto;
  overflow: scroll;
  margin-top: 5vh;
  
}

.message-container {
  /* background-color: rgb(133, 227, 243); */
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 0.2rem 1rem;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.text-container {
  display: inline-block;
  background-color: rgb(195, 244, 253);
  border-radius: 0.5rem;
  padding: 0 2rem;
}


.time-container {
  display: flex;
  text-align: right;
}

.message-text {
  font-size: 20px;
}

.message-time {
  align-self: flex-end;
  font-size: 15px;
  color: grey;
}

.form {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

#message {
  width: 65%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#button {
  background-color: purple;
  width: 33%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}
